[workspace]

members = [
  "crates/csv2arrow",
  "crates/csv2parquet",
  "crates/json2arrow",
  "crates/json2parquet",
  "crates/arrow-tools"
]

resolver = "2"

[workspace.metadata.release]
shared-version = true
tag-name = "v{{version}}"

[profile.dist]
inherits = "release"
lto = "thin"
