[package]
name = "json2parquet"
version = "0.2.4"
authors = ["Dominik Moritz <domoritz@cmu.edu>"]
license = "MIT/Apache-2.0"
edition = "2018"
repository = "https://github.com/domoritz/json2parquet"
description = "Convert JSON files to Parquet"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
parquet = "9.0.2"
arrow = "9.0.2"
serde_json = "1.0.79"
clap = { version = "3.0.14", features = ["derive"] }
