[package]
name = "csv2arrow"
version = "0.3.0"
authors = ["Dominik Moritz <domoritz@cmu.edu>"]
license = "MIT/Apache-2.0"
edition = "2018"
repository = "https://github.com/domoritz/csv2arrow"
description = "Convert CSV files to Arrow"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow = "7.0.0"
serde_json = "1.0.75"
clap = { version = "3.0.7", features = ["derive"] }
