[package]
name = "json2parquet"
version = "0.2.4"
authors = ["Dominik Moritz <domoritz@cmu.edu>"]
license = "MIT/Apache-2.0"
edition = "2018"
repository = "https://github.com/domoritz/json2parquet"
description = "Convert JSON files to Parquet"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
parquet = "6.4.0"
arrow = "6.4.0"
serde_json = "1.0.73"
clap = { version = "3.0.0-rc.7", features = ["derive"] }
