name: Rust

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: beta
      - name: Build
        run: cargo build --verbose
      - name: Clippy
        run: cargo clippy
      - name: Check formatting
        run: cargo fmt -- --check

  automerge:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
