# loosly based on https://github.com/dtolnay/anyhow/blob/master/.github/workflows/ci.yml
name: Rust

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: beta
          components: clippy, rust-src, rustfmt
      - name: Build
        run: cargo build --verbose
      - name: Check
        run: cargo check
      - name: Clippy
        run: cargo clippy
      - name: Check formatting
        run: cargo fmt -- --check

  automerge:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.5.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
